
/* HERO IMAGE */
.hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

/* Add a semi-transparent overlay */
.hero-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity (0.5 = 50% darkness) */
    z-index: 1; /* Ensure the overlay is above the image */
  }

.hero-overlay {
  position: relative;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
}

.hero-overlay img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#hero{
    width: 190vh;
}

/*search bar*/
.centered-search-bar {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0); /* Adjust opacity here */
  padding: 50px;
  border-radius: 5px;
  z-index: 2;
}

.centered-search-bar input.form-control {
  background-color: rgba(255, 255, 255, 0.7); /* Input field background opacity */
  /* ... other input field styles ... */
}



#logo {
  position: absolute;
  top: 5vh; /* Adjust the top position as needed */
  left: 50%; /* Center the logo horizontally */
  transform: translateX(-50%); /* Center the logo horizontally */
  z-index: 2; /* Logo is in front of the hero image */
  width: 45vh;
}


/* img buttons */
.image-button {
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  z-index: 3;
}



.image-button:hover {
  transform: translateY(-10px);
}


/* Default: Hide the element by default */
.laptop-only {
    display: none;
}

/* Media query for screens 768px and wider */
@media (min-width: 768px) {
    .laptop-only {
        display: block;
    }
}

